/*========================
PANTALLA INFORME
==========================*/

section.informe {
    position: absolute;
    left: 50vh;
    top: 25vh;
    width: 70%;
    padding: 2.5%;
    background: var(--color-mintcream);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 5px;
}

section.informe hr {
    width: 90%;
    border-color: var(--color-cambridge);
    border: 1px solid;
    margin: 20px 0;
}

section.informe {
    width: 100%;
    height: 100vh;
}


@media (max-width:768px){

    section.informe hr {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    section.informe table {height: 100vh;}

}