@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import 'styleLogin.css';
@import 'styleIndex.css';
@import 'styleGastos.css';
@import 'styleEstadias.css';
@import 'styleInforme.css';

:root {
    --color-wintergreen: #6B9080;
    --color-cambridge: #A4C3B2; 
    --color-lightcyan: #CCE3DE;
    --color-mintcream: #EAF4F4; 
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background: url("/img/torresvaleria.jpg");
    background-size: cover;
    color: var(--color-wintergreen);
    font-family: Roboto;
    font-weight: bold;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label.menuMobile {
    margin-bottom: 10px;
}

button.cargar {
    background: var(--color-wintergreen);
    color: var(--color-mintcream);
    border: none;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    font-family: Roboto;
    font-weight: bold;
}

button.cargar:hover {
    color: var(--color-wintergreen);
    background: var(--color-lightcyan);
}

@media (max-width:768px){
    body {
        background: var(--color-mintcream);
        display: block;
    }
}
