<script type="text/javascript" src="/js/archivojs.js"></script>
    <ul class="tab">
      <li class="tablinks" onclick="openTab(event,'changePassword')"><a href="/user/<%=usuarioLogueado.id %> ">Cambiar contraseña</a></li>
      <li class="tablinks" onclick="openTab(event, 'register')"><a href="/admin/register">Registrar usuario</a></li>
      <li><a href="#logout">Cerrar sesión</a></li>
</ul>