<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <section class="estadias">
        <h3>CARGA DE ESTADIAS</h3>
        <ul style="list-style: none">
            <% for(let i = 0; i < errors.length; i++ ) { %>
                <li style="color: red"><%= errors[i].msg %> </li>
            <% } %>  
        </ul>
        <form action="" method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="fechaIn">Fecha de ingreso</label>
            <input type="date" id="fechaIn" name="fechaIngreso" required>

            <label for="fechaOut">Fecha de egreso</label>
            <input type="date" id="fechaOut" name="fechaEgreso" required>

            <label for="importeTotal">Importe Total</label>
            <input type="text" id="importeTotal" name="importeTotal" required>

            <label for="importeDepo">Importe Depósito</label>
            <input type="text" id="importeDepo" name="importeDeposito" required>

            <label>Unidad</label>
            <select name="tipoGasto" required>
                <option value="none" selected disabled hidden> 
                    Selecciona una opción 
                </option>
                <option value="An">Antares</option>
                <option value="Al">Altair</option>
                <option value="Di">Diana</option>
                <option value="El">Electra</option>
            </select>

            <label for="pagador">Cobrado por</label>
            <select id="pagador" name="pagador" required>
                <option value="none" selected disabled hidden> 
                    Selecciona una opción 
                </option>
                <option value="Ar">Ariel</option>
                <option value="Ba">Barbara</option>
                <option value="Fa">Facundo</option>
                <option value="Ca">Caja</option>
            </select>


            <button class="cargar" type="submit">CARGAR</button>
        </form>
    </section>
</body>
</html>