<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <section class="gastos">
        <h3>CARGA DE GASTOS</h3>
        <ul style="list-style: none">
            <% for(let i = 0; i < errors.length; i++ ) { %>
                <li style="color: red"><%= errors[i].msg %> </li>
            <% } %>  
        </ul>
        <form action="" method="POST">
            <label for="fechaGasto">Fecha de gasto</label>
            <input type="date" id="fechaGasto" name="fechaGasto" required>

            <label for="concepto">Concepto</label>
            <input type="text" id="concepto" name="concepto" required>
            
            <label for="importe">Importe</label>
            <input type="text" id="importe" name="importe" required>
            
            <label>Tipo de gasto</label>
            <select name="tipoGasto" required>
                <option value="none" selected disabled hidden> 
                    Selecciona una opción 
                </option>
                <option value="Co">Complejo</option>
                <option value="An">Antares</option>
                <option value="Al">Altair</option>
                <option value="Di">Diana</option>
                <option value="El">Electra</option>
                <option value="Ca">Caja</option>
            </select>
            
            <label for="pagador">Abonado por</label>
            <select id="pagador" name="pagador" required>
                <option value="none" selected disabled hidden> 
                    Selecciona una opción 
                </option>
                <option value="Ar">Ariel</option>
                <option value="Ba">Barbara</option>
                <option value="Fa">Facundo</option>
                <option value="Ca">Caja</option>
            </select>
            
            <label for="comentario">Comentario</label>
            <textarea id="comentario" name="comentario" rows="5"></textarea>
            
            <button class="cargar" type="submit">CARGAR</button>
        </form>
    </section>
</body>
</html>