<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <section class="gastos">
        <input type="checkbox" id="burger">
        <label for="burger" class="menuMobile"><img src="/img/mobileMenu.png" alt=""></label>
        <nav class="menu">
            <ul>
                <li><a href="/user/gastos">Carga de gastos</a></li>
                <li><a href="/user/estadias">Carga de estadías</a></li>
                <li><a href="/user/informe">Estado actual de cuentas</a></li>
            </ul>
        </nav>
        <hr>
        <form action="/user/gastos" method="POST">
            <label for="fechaGasto">Fecha de gasto</label>
            <input type="date" id="fechaGasto" name="fechaGasto" required>

            <label for="concepto">Concepto</label>
            <input type="text" id="concepto" name="concepto" required>
            
            <label for="importe">Importe</label>
            <input type="text" id="importe" name="importeGasto" required>
            
            <label>Tipo de gasto</label>
            <select name="tipoGasto" required>
                <option value="none" selected disabled hidden> 
                    Selecciona una opción 
                </option>
                <option value="Co">Complejo</option>
                <option value="An">Antares</option>
                <option value="Al">Altair</option>
                <option value="Di">Diana</option>
                <option value="El">Electra</option>
                <option value="Ca">Caja</option>
            </select>
            
            <label for="pagador">Abonado por</label>
            <select id="pagador" name="pagador" required>
                <option value="none" selected disabled hidden> 
                    Selecciona una opción 
                </option>
                <option value="Ar">Ariel</option>
                <option value="Ba">Barbara</option>
                <option value="Fa">Facundo</option>
            </select>
            
            <label for="comentario">Comentario</label>
            <textarea id="comentario" name="comentario" rows="5"></textarea>
            
            <button class="cargar" type="submit">CARGAR</button>
        </form>
    </section>
</body>
</html>