<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/header')%>
    <section class="informe">
        <h3>INFORME</h3>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Abonado por/Cobrado por</th>
                    <th scope="col">Ingresos</th>
                    <th scope="col">Egresos</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% for(let i=0; i<informe.length; i++){ %> 
                    <th scope="row">1</th>
                    <td><%= informe[i].fecha %> </td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a class="edit" href="">EDITAR</a></td>
                    <td><a class="borrar" href=""><img src="/img/basura.png" height="20" alt=""></a></td>
                    <% } %> 
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>