<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <section class="menu">
        <hr>
        <h3>SISTEMA DE GESTIÓN DE GASTOS DE TORRES VALERIA</h1>
        <nav class="menu">
            <ul>
                <li><a class="boton" href="/user/gastos">Carga de gastos</a></li>
                <li><a class="boton" href="/user/estadias">Carga de estadías</a></li>
                <li><a class="boton" href="/user/informe">Estado de cuentas</a></li>
            </ul>
        </nav>
        <hr>
    </section>
</body>
</html>